# ==================================
# Logs
# ==================================
logs
*.log
pnpm-debug.log*
lerna-debug.log*

# ==================================
# Dependencies
# ==================================
node_modules/
.pnpm-store/

# ==================================
# Build
# ==================================
dist
dist-ssr
.vite/

# ==================================
# Coverage
# ==================================
coverage/

# ==================================
# Environment variables
# ==================================
.env
.env.*
!.env.example

# ==================================
# Editor
# ==================================
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# ==================================
# TypeScript
# ==================================
*.tsbuildinfo

# ==================================
# Vite
# ==================================
vite.config.js.timestamp-*
vite.config.ts.timestamp-*